.showcase-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.showcase-item {
  border: 1px solid rgb(197 197 197);
  border-radius: 4px;
  padding: 2px;

  flex: 0 1 calc(50% - 0.5rem);
}

.project-image {
    width:  100%;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
}

.project-title {
  font-weight: bold;
  font-size: 1.25rem;
}

